node_modules
.DS_Store
.env
dist
.vite
coverage
*.log
*.tsbuildinfo
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
.local
.tmp
.tmp-*
vite.config.js
vite.config.d.ts
3rd
apps/*/dist
apps/*/node_modules
apps/admin-pro/src/.umi
apps/admin-pro/src/.umi-production
apps/admin-pro/.umi
apps/admin-pro/.umi-production
